@import "tailwindcss";
@import "./theme.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100dvw;
  min-height: 100dvh;
}
